@charset "utf-8";
/* CSS Document */


.box{
	height:400px;

}
.paragraphone{

	width:410px;
	height:300px;
	margin:0 auto;
	margin-top:250px;
}
.para1{
	width:770px;
	margin:0 auto;
	margin-top:200px;
}


.click{
	text-decoration:none;
	outline:none;
	color:white;
	font-size:80px;
	text-align:center;
	font-family:'Gabriola';
}
